.heroContainer {
  width: 100%;
  min-height: 120vh;
  background-image: url("fondo elena wp.jpg");
  background-position: 70% 70%;
  background-size: cover;
  background-attachment: fixed;
}

.frontalHero {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.frontalImage {
  overflow: visible;
  width: 100%;
  height: 100%;
 object-fit: cover;
  position: absolute;
  font-size: 25vh;
  top: 50%; /* Alinea verticalmente el texto en el centro */
  left: 50%; /* Alinea horizontalmente el texto en el centro */
  transform: translate(-50%, -50%); /* Centra el texto */
  color: var(--light-green-color);
  padding: 10px;
  z-index: 4;
  transition: 2s ease-in-out; /* D /* Cambia este valor a 1 para poner la imagen por encima del texto */
}

.animated-hero-text {
  overflow: hidden;
  position: relative;
  font-size: 20vh;
  width: 100%;
  font-size: 25vh;
  color: var(--light-green-color);
  z-index: 0;
  right: 0%;
  height: min-content;
  text-align: center;
  margin-bottom: 40px;
  transition: opacity 0.1s linear;
  top: 10%;
  position: fixed;
}

.hero-subtext {
  height: min-content;
  position: relative;
  font-size: 10vh;
  width: 100%;
  transform: translate(10%, 20%);
  transition: opacity 0.1s linear;
  color: var(--orange-color);
  z-index: 0;
 left: 0%;
  margin-top: 560px;
  position: fixed;
}

.hero-firstText {
  font-size: 10vh;
  color: var(--orange-color);
  position: relative;
  position: fixed;
  transition: opacity 0.1s linear;
  top: 15%;
  left: 85%;
}

@keyframes frontImageAnimation {
  0% {
    margin-left: 10%;
    width: 100%;
  }

  40% {
    margin-left: 4%;
    width: 100%;
  }
  70% {
    margin-left: 7%;
    width: 100%;
  }

  100% {
    margin-left: 10%;
    width: 100%;
  }
}

.frontalImage {
  animation: frontImageAnimation 7s infinite linear;
}
