@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.heroContainer {
  min-width: 100%;
  max-width: 100%;
  min-height: 120vh;
  max-height: 120vh;
  background-image: url("hero-background.jpg");
  background-position: 55%;
  background-size: cover;

  display: flex;
  /* background-attachment: fixed; */

}

.frontalHero {
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  justify-items: flex-end;
  justify-content: center;

  overflow: hidden;
}

.frontalImage {
  max-height: 100%;
  max-width: 100%;


bottom:   0%;
  /* Alinea verticalmente el texto en el centro */

  color: beige;
  margin: 0;
  padding: 0;
  z-index: 3;
  opacity: 100%;

  /*transition: 2s ease-in-out; /* D /* Cambia este valor a 1 para poner la imagen por encima del texto */
}

.hero-main-pic {
  position: absolute;
  left: 60%;
  top: 10%;
  height: 90%;
}
.animated-hero-text {
  overflow: hidden;
  position: relative;
  width: min-content;
  font-size: 17rem;
  line-height: 14rem;
  color: beige;
  z-index: 0;
  right: 0%;
  height: min-content;
  text-align: center;
  transition: opacity 0.1s linear;
  top: 10%;
  left: 20%;
  position: fixed;
}

.hero-subtext {
  height: min-content;
  position: relative;
  font-size: 7rem;
  width: min-content;
  top: 50%;
  left: 10%;
  transition: opacity 0.1s linear;
  color: beige;
  z-index: 0;
  position: fixed;
  font-family: "Dancing Script", cursive;
  text-shadow: 2px 4px #421010;
}

.hero-firstText {
  font-size: 7rem;
  font-family: "Dancing Script", cursive;
  color: beige;
  position: relative;
  position: fixed;
  transition: opacity 0.1s linear;
  top: 25%;
  left: 75%;
  text-shadow: 2px 4px #421010;
  z-index: 1;
}

@keyframes frontImageAnimation {
  0% {
    margin-left: 3%;
  }

  40% {
    margin-left: 5%;
  }
  70% {
    margin-left: 7%;
  }

  100% {
    margin-left: 3%;
  }
}

.frontalImage {
  /* animation: frontImageAnimation 7s infinite linear; */
}

@media (min-width: 380px) and (max-width: 1023px) {

  /* .hero-firstText {
    left: 50%;
    top: 12%;
  }

  .hero-subtext {
    left: 20%;
    font-size: 8rem;
  } */

  .frontalImage {
    max-height: 80vh;
    min-height: 80vh;
    min-width: 100vw;
    max-width: 100vw;

    /* Alinea verticalmente el texto en el centro */

    color: beige;

    z-index: 3;
    opacity: 100%;
    /* transition: 2s ease-in-out;    D /* Cambia este valor a 1 para poner la imagen por encima del texto */
  }

  .animated-hero-text {
    overflow: hidden;
    position: relative;
    width: min-content;
    font-size: 5.8rem;
    line-height: 5.6rem;
    text-align: left;
    z-index: 0;
    right: 0%;
    height: min-content;

    transition: opacity 0.1s linear;
    top: 27%;
    left: 05%;
    position: fixed;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .animated-hero-text {
    font-size: 18rem;
    line-height: 17rem;
    left: 0%;
  }

  .frontalHero {
    justify-content: center;
    justify-items: center;
    min-height: 100vh;
  }

  .frontalImage {
    max-height: 80vh;
    min-height: 80vh;

    /* Alinea verticalmente el texto en el centro */

    color: beige;

    z-index: 3;
    opacity: 100%;
    /* transition: 2s ease-in-out;    D /* Cambia este valor a 1 para poner la imagen por encima del texto */
  }
}
