.biocard-container {
  min-width: 100%;
  max-width: 100%;
  min-height: 1000px;
  max-height: 1000px;
  display: flex;
  justify-content: center;
  background-color: #c4994d;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;

}

.biocard-wrapper {
  width: 80%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(64, 1fr);
  grid-template-rows: repeat(64, 1fr);
  overflow: hidden;

}

.bio-pic-wrapper {
  grid-column: 14/36;
  grid-row:12/64;
height: 100%;
width: 100%;
  min-height: 100%;


  z-index: 0;

}

.bio-card-pic {

  position: relative;


}


.biopic-back {
  background-color: black;
  grid-column: 12/32;
  grid-row: 4/39;

  width: 100%;

  overflow: hidden;
}


.bio-data-text-container {
  grid-column: 35/55;
  grid-row: 17/62;
  width: 100%;
  font-size: 1.9rem;
  color: black;
  font-family: "Montserrat", sans-serif;
  z-index: 1;

}

.bio-text-container {
  /* background-color: white; */
  grid-column: 28/48;
  grid-row: 5/17;
  width: 20vw;
  min-height: 100%;

  opacity: 100%;
  color: black;

}



@keyframes textBioAnimation {
  0% {
    width: 0%;
    font-size: 0rem;
  }

  25% {
    width: 25%;
    font-size: 0rem;
  }
  70% {
    width: 50%;
    font-size: 0rem;
  }

  75% {
    width: 90%;
    font-size: 0rem;
  }

  100% {
    width: 100%;
    font-size: 1.8rem;
  }
}

@keyframes backDivToLeft {
  0% {
    left: 150%;
  }

  25% {
    left: 150%;
  }
  70% {
    left: 150%;
  }

  70% {
    left: 90%;
  }

  100% {
    left: 0%;
  }
}

@keyframes picAnimationRight {
  0% {
    right: 60%;
    opacity: 0%;
  }

  25% {
    right: 40%;
    opacity: 30%;
  }
  70% {
    right: 20%;
    opacity: 50%;
  }

  70% {
    right: 10%;
    opacity: 100%;
  }

  100% {
    right: 0%;
    opacity: 100%;
  }
}

.animationTextToRight {
  animation: textBioAnimation 0.8s linear;
}

.animationBackToLeft {
  animation: backDivToLeft 1s linear;
}

.picAnimation {
  animation: picAnimationRight 0.8s linear;
}

@media screen and (max-width: 768px) {

  .biocard-container{
min-height: 100vh;
max-height: 100vh;

  } 

  .biocard-wrapper {
    width: 100%;
    height: 100%;
  }
  .bio-text-container {
    grid-column: 34/58;
    grid-row: 4/12;

    font-size: 1.8rem;
  }

  .bio-text-back {
    grid-column: 5/59;
    grid-row: 8/13;
  }

  .bio-pic-wrapper {
    grid-column: 1/45;
    grid-row: 24/66;
    height: 100%;

  }

  .bio-card-pic{
    padding-top: 1rem;
    height: 90%;
  }
  .biopic-back {
    grid-column: 5/64;
    grid-row: 5/37;
  }

  .bio-data-text-container {
    grid-column: 1/60;
    grid-row: 13/40;

    text-align: right;
    font-size: 0.9rem;
    color: white;
  }

  .bio-card-pic{width: 100%;}


}


@media  (min-width: 1024px) and (max-width: 1280px){
  .biocard-container{
    min-height: 100vh;
    max-height: 100vh;
    
      } 
    
      .biocard-wrapper {
        width: 100%;
        height: 100%;
      }
      .bio-text-container {
        grid-column: 34/58;
        grid-row: 4/12;
    
        font-size: 1.8rem;
      }
    
      .bio-text-back {
        grid-column: 5/59;
        grid-row: 8/13;
      }
    
      .bio-pic-wrapper {
        grid-column: 1/45;
        grid-row: 24/66;
        height: 100%;
    
      }
    
      .bio-card-pic{
        padding-top: 1rem;
        height: 100%;
      }
      .biopic-back {
        grid-column: 5/64;
        grid-row: 5/37;
      }
    
      .bio-data-text-container {
        grid-column: 1/60;
        grid-row: 13/40;
    
        text-align: right;
        font-size: 2rem;
        color: white;
      }
    
      .bio-card-pic{width: 100%;}
    
    
}