@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.books-component-container {
padding: 10vh;

  display: flex;
  justify-content: center;
align-content: flex-start;
  align-items:flex-start;
  min-height: min-content;
  max-height: min-content;
  width: 100vw;
  background-color: white;
  z-index: 10;
 
}

@media screen and (max-width: 768px){
 .books-component-container{
flex-direction: column;
  align-items: center;
 }
}