.book-container-yepanna{
    min-height: 150vh;
    max-height:15vh;
    min-width: 100vw;
    max-width: 100vw;
   
    background-image: url("canvaYellow.jpg");
    background-size: cover;
    background-attachment: fixed;
}