@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.animated-text-container{
    min-height: 60vh;
    width: 50vw;

    display: flex;
    overflow: hidden; 

 
}

.animated-text{
    padding: 4vh;

  transform: translateX(-100%); /* Inicialmente fuera de la pantalla a la izquierda */
  transition: transform 2.5s ease;
 
}

.animated-text>h1{
  font-size: 7vh;
  font-family: 'Dancing Script', cursive;
}
.animated-text>p{
  font-size: 3vh;
}