.book-data-container {
  width: 100%;
  min-height: 120vh;
  max-height: 120vh;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
}

.book-data-hero-container {
  grid-column: 1/25;
  grid-row: 1/7;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.book-data-hero-img {
  grid-column: 1/13;
  grid-row: 1/6;
  width: 100%;
  z-index: 0;
}

.hero-book-data-text {
  grid-column: 5/12;
  grid-row: 3/4;
  z-index: 1;
  font-size: 4rem;
  color: white;
}

.book-title-data-right{
  font-size: 3.3rem;
}

.book-data-info-container {
  grid-column: 3/24;
  grid-row: 8/24;
  display: flex;



}

.book-data-left-container {
  display: flex;
  height: 100%;
  width: 40%;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  justify-content: first baseline;
}

.book-data-right-container {
  height: 100%;
  width: 60%;
  padding-right: 20rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;

}

.book-data-text-right-container {
  height: 70%;
}

.book-data-plot-text {
  font-size:2.3rem;
}

.book-data-left-img {
  width: 400px;
  border-radius: 7px;
  -webkit-box-shadow: 5.5px 6.5px 10px 1px #dcd6d6;
-moz-box-shadow: 5.5px 6.5px 10px 1px #dcd6d6;
box-shadow: 5.5px 6.5px 10px 1px #dcd6d6;
}

.book-tec-text-container{
    width: 400px;
  
}


.book-data-btn-container {
    padding: 1rem;
    margin-top: 6vh;
  display: flex;
  width: 100%;
  height: 30%;
align-items: end;
  gap: 2vw;
}


@media screen and (max-width: 768px) {

  .book-title-data-right{
    font-size: 2.3rem;
  }

.book-data-left-container{
  display: flex;
  justify-content: left;
  width: 20%;
}

.book-data-left-img{
  width: 120px;
}

.book-tec-text-container{
  width: 120px;
  font-size: 0.6rem;
}

.book-data-info-container {
  grid-column: 1/25;
  grid-row: 8/24;
  display: flex;
}

.book-data-plot-text {
  font-size: 1.1rem;
}

.book-data-right-container {
display: flex;
flex-direction: column;
min-width: 12vw;
padding: 0;
}

.book-data-text-right-container{
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 700px;
  
}

.book-data-btn-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100px;
}

.hero-book-data-text{
font-size: 2.7rem;
text-align: center;
grid-column: 1/20;
}

}