.biocardRight-container {
  min-width: 100%;
  max-width: 100%;
  height: 90vh;
  padding-top: 10vh;

  display: flex;
  justify-content: center;

  background-color: #c4994d;
  background-image: url("background-dark.webp");
  background-size: cover;
      background-attachment: fixed;
}

.biocard-wrapper-right {
  width: 70%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(64, 1fr);
  grid-template-rows: repeat(64, 1fr);
  overflow: hidden;
}

.biopic-wrapper-right {
  grid-column: 32/63;
  grid-row: 3/29;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}

.bio-shadow-back {
  background-color: #c4994d;
  grid-column: 33/64;
  grid-row: 4/30;
  width: 100%;
  z-index: 0;
  overflow: hidden;
}

.biocard-pic-right {
  width: 100%;
  right: 0%;
}

.biodata-text-container-right {
  grid-column: 10/30;
  grid-row: 18/60;
  width: 100%;
  font-size: 1.8rem;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.biotext-container-right {
  background-color: white;
  grid-column: 10/35;
  grid-row: 5/12;
  width: 100%;
  z-index: 3;
  font-size: 2.5rem;
  opacity: 100%;
  color: black;
  text-align: center;
  line-height: 2.5rem;

  font-family: "Montserrat", sans-serif;
}

.biotext-back-right {
  width: 100%;
  background-color: #1f1fa8;
  grid-column: 11/36;
  grid-row: 6/13;
  z-index: 2;
  position: relative;
}

@keyframes textBioAnimation-right {
  0% {
    width: 0%;
    font-size: 0rem;
  }

  25% {
    width: 25%;
    font-size: 0rem;
  }
  70% {
    width: 50%;
    font-size: 0rem;
  }

  75% {
    width: 90%;
    color: white;
  }

  100% {
    width: 100%;
    font-size: 2.5rem;
    color: black;
  }
}

@keyframes backDivToLeft-right {
  0% {
    right: 150%;
  }

  25% {
    right: 150%;
  }
  70% {
    right: 150%;
  }

  70% {
    right: 90%;
  }

  100% {
    right: 0%;
  }
}

@keyframes picAnimationRight {
  0% {
    right: 60%;
    opacity: 0%;
  }

  25% {
    right: 40%;
    opacity: 30%;
  }
  70% {
    right: 20%;
    opacity: 50%;
  }

  70% {
    right: 10%;
    opacity: 100%;
  }

  100% {
    right: 0%;
    opacity: 100%;
  }
}

.animationTextToRight-right {
  animation: textBioAnimation-right 0.8s linear;
}

.animationBackToLeft-right {
  animation: backDivToLeft-right 1.5s linear;
}

.picAnimation {
  animation: picAnimationRight 0.8s linear;
}

@media screen and (max-width: 768px) {
  .biocard-wrapper-right {
    width: 85%;
    height: 100vh;
  }
  .biotext-container-right {
    grid-column: 1/63;
    grid-row: 4/12;
    color: black;
    font-size: 1.9rem;
  }

  .biotext-back-right {
    grid-column: 4/65;
    grid-row: 8/13;
  }

  .biopic-wrapper-right {
    grid-column: 1/64;
    grid-row: 12/30;
  }

  .bio-shadow-back {
    grid-column: 2/65;
    grid-row: 13/29;
  }

  .biodata-text-container-right {
    grid-column: 1/64;
    grid-row: 32/62;
    font-size: 1.5rem;
  }
}
