@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100&display=swap");

.about-header-container {
  min-height: 110vh;
  max-height: 110vh;

  width: 100%;
  /*background-image: url("fondo elena wp.jpg");*/
  background-position: 50% 50%;
  background-size: 45%;
  background-repeat: no-repeat;
  filter: grayscale(40%);
  background-color: black;

  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: visible;
}

.about-header-text {
  font-size: 17vh;
  font-family: "Montserrat", sans-serif;

  color: white;
  text-shadow: 2px 4px #421010;

  position: relative;
  top: -14%;
  overflow: visible;
}

@keyframes opacityAnimationFast {
  0% {
    opacity: 0%;
  }
  40% {
    opacity: 40%;
  }
  60% {
    opacity: 60%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes toRightAndOpcityAnimation {
  0% {
    left: 0%;
    opacity: 0;
  }
  50% {
    left: 3%;
    opacity: 50%;
  }
  100% {
    left: 7%;
    opacity: 100%;
  }
}

@keyframes toLeftAndOpcityAnimation {
  0% {
    right: 0%;
    opacity: 0;
  }
  50% {
    right: 3%;
    opacity: 50%;
  }
  100% {
    right: 7%;
    opacity: 100%;
  }
}


.about-text-container {
  padding-left: 10vh;
  padding-top: 35vh;
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;

  justify-content: space-between;
  align-items: center;
}

.books-text {
  width: 30%;

  position: relative;
  left: 7%;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 3.3rem;
}

.books-text-block {
  position: relative;
  right: 7%;
  top: 14%;
  width: 20%;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 3.3rem;
  text-align: right;
}

.animationText {
  animation: toRightAndOpcityAnimation 0.7s linear;
}

.animationTextRight {
  animation: toLeftAndOpcityAnimation 0.7s linear;
}

.opacityFast {
  animation: opacityAnimationFast 3s linear;
}

@media screen and (max-width: 768px) {
  .about-header-container {
    background-size: 85%;
  }

  .about-text-container {
    padding-left: 0;
    margin-top: -45vh;
  }
  .about-header-text {
    font-size: 6.5rem;
    top: 10%;
  }

  .books-text {
    font-size: 2.7rem;
top:25%;
    width: 80%;
    text-align: right;
    padding-right: vh;
  }

  .about-text-container {
    flex-direction: column;
  }

  .books-text-block {
    font-size: 2.5rem;
    width: 75%;
    
    text-align: left;
  }
}
