.animated-pic-container{
    min-height: 60vh;
    width: 50vw;

    display: flex;

    
 
}

.animated-pic{
    padding: 2vh;

  transform: translateX(-100%); /* Inicialmente fuera de la pantalla a la izquierda */
  transition: transform 2.5s ease;

  display: flex;
  width: 100%;
  justify-content: center;
 
 
}

.picAnimated{
  border: 1px solid rgb(219, 214, 214);
  border: 20px solid beige;
  -webkit-box-shadow: 7.5px 8.5px 10px 3px #dddddd;
-moz-box-shadow: 7.5px 8.5px 10px 3px #dddddd;
box-shadow: 7.5px 8.5px 10px 3px #dddddd;
transform: rotate(9deg);
z-index: 1;
}