.animated-pic-container {
  height: 70vh;
  width: 50vw;

  display: flex;
  overflow: hidden;
}

.animated-pic {
  padding: 2vh;

  transform: translateX(
    -100%
  ); /* Inicialmente fuera de la pantalla a la izquierda */
  transition: transform 2.5s ease;

  display: flex;
  width: 100%;
  justify-content: center;
}

.picAnimated {
  border: 1px solid rgb(241, 235, 235);
  border: 20px solid rgb(240, 240, 233);
  -webkit-box-shadow: 7.5px 8.5px 10px 3px #dddddd;
  -moz-box-shadow: 7.5px 8.5px 10px 3px #dddddd;
  box-shadow: 7.5px 8.5px 10px 3px #dddddd;

  z-index: 1;
}
