.footer {
  max-width: 100vw;
  min-width: 100vw;  
  min-height: 30vh;
  max-height: min-content;

  background: #514d4d;

  background: -webkit-linear-gradient(0deg, #453f3f 0%, #000000 100%);
  background: linear-gradient(0deg, #453f3f 0%, #000000 100%);


  background-image: url("backCanvaBlue.jpg");
  background-size: cover;
}

/* Contenido principal */
.footer-contact-wrapper {

  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0;


}

.textWrap {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  min-height: min-content;
  margin: 0;
  padding: 0;
}

.textWrap > h1, .textWrap > h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;

  width: 100%; /* Ajuste para el tamaño completo en pantallas pequeñas */

  margin: 0;
}

.footer-contact-wrapper > h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  
  margin: 0;
}

.footer-social-wrap {
  min-height: 5vh;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  align-content: flex-start;
}

.footerWrap {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem 0;
 

}

/* Texto del pie de página */
.footerText {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #b0b0b0;
  margin-bottom: 1rem;
}

/* Enlaces del pie de página */
.footerAnchor {
  color: #b0b0b0;
  transition: color 0.3s ease;
}

.footerAnchor:hover {
  color: #33fcff;
}

.footer-links-wrap {
  display: flex;
  width: 100%;

  justify-content: center;
  gap: 1rem;
  align-content: center;
  align-self: center;
}

/* Estilos adicionales específicos para los íconos */
.footerAnchor svg {
  font-size: 24px;
}

/* Media Query para ajustar el diseño en pantallas más pequeñas */
@media only screen and (max-width: 600px) {
  .textWrap > h1, .textWrap > h4 {
    font-size: 2rem; /* Ajuste del tamaño de fuente para pantallas pequeñas */
    width: 100%; 
/* Ajuste para el tamaño completo en pantallas pequeñas */
  }

  .footer{
    min-height: 40vh;
  }
}