.about-dinamic-container {
  max-width: 100%;
  min-height: 120vh;
  max-height: 120vh;
  flex-wrap: wrap;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.about-data-container {
  width: 95%;
  height: 80vh;
  max-height: 80vh;
  display: flex;

}

.about-text-wrapper {

  width: 50%;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 1rem;
}

.about-text {
  font-family: "Roboto";
  font-size: 3.5rem;
}

.about-pic-wrapper {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.about-pic {
  height: 70%;
}

.animatable-text {
  color: #ff00ff;
  font-weight: 700;
  opacity: 100%;
  /* font-family:'Courier New', Courier, monospace ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
