@keyframes textCarouselAnimation {
  0% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes textCarouselAnimationSecond {
  0% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(100%);
  }
}

.text-carousel-container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  display: flex;
  overflow: hidden;
  min-height: 7vh;
  max-height: 7vh;
  align-items:end ;


background-color: rgb(231, 231, 68);

}

.carousel-wrapper {
  display: flex;
  align-content: center;
  align-items: center;
  text-align: left;
  margin: 0;
  overflow: hidden;
  transform: rotate(90deg);
  min-width: min-content;
  max-width: min-content;
  height: 7vh;
  font-size: 2rem;
  line-height: 2rem;
  animation-delay: 2.5s;
  animation: textCarouselAnimation 200s infinite linear;
}

.carousel-text {
  white-space: pre;
  font-family: "Roboto";
  color: fuchsia;
  font-weight: 700;
  font-size: 3rem;

}

.carousel-wrapper-second {
  margin: 0;
  text-align: left;
  

  overflow: hidden;
  white-space: pre;
 
  min-width: min-content;
  max-width: min-content;
  height: 7vh;
  display: flex;
  align-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  animation: textCarouselAnimationSecond 200s infinite linear;
  transform: rotate(90deg);
}

.carousel-wrapper-second {
  white-space: pre;
  color: rgb(243, 243, 136);
  font-weight: 700;
  font-size: 3rem;

}

.carousel-text-second {
  display: inline-block;
  font-family: "Roboto";


}
